* {
    --body-color: #DEE6F5;
    --nav-color: #7B9FD3;
    --h1-color: #255C8E;
    --links-color: #DEE6F5;
}

body {
    background-color: var(--body-color);
}


.float-left {
    float: left;
}

h1 {
    color: var(--h1-color);
    /* text-align: left; */
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    margin: 10px;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
}

nav img{
    margin: 10px;
}

#nav-links li {
    display: inline;
    
}

#nav-links a {
    color: var(--links-color);
}

main {
    display: flex;
}